.SingleProject {
    position: relative;
    height: fit-content;
    overflow: hidden;
    max-width: unset;

    &.isPageReady .SingleProject {
        &-banner {
            opacity: 1;

        }

        &-content {
            opacity: 1;

        }

    }

    &.isNotPageReady .SingleProject {
        overflow: hidden;
        height: 100vh;

        &-banner {
            opacity: 0;

        }

        &-content {
            opacity: 0;

        }
    }

    &-banner {
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        opacity: 1;
        @include media("<=small") {
            height: 66vh;

        }

        &--img, &--video {
            position: relative;
            top: 0;
            width: 100vw;

            height: auto;
            object-fit: cover;

            @include media("<=small") {
                width: fit-content;
                height: 100%;
            }
        }

        &-header {
            position: absolute;
            top: 0;
        }
    }

    &-content {
        position: relative;
        margin: 0 32px;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        transition: opacity 300ms ease-out;
        @include media("<=small") {
            margin: 0;
            padding: 0 18px;


        }

        &-wrapper {
            background-color: white;
            z-index: 200;
        }

        &-header {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include media("<=small") {
                margin-top: 8px;
                position: relative;

            }

            &-data {
                display: flex;
                justify-content: space-between;
                position: relative;
                height: fit-content;
                width: 75%;
                @include media("<=small") {
                    flex-direction: column;
                    display: grid;
                    grid-auto-flow: row;
                    grid-row-gap: 4px;
                }

                &-item {
                    text-align: left;
                    position: relative;
                    height: fit-content;

                    @include media("<=small") {
                        display: grid;
                        grid-auto-flow: row;
                        grid-row-gap: 4px;
                    }

                    &--name, &--date, &--client, &--type, &--tag {
                        font-size: 24px;
                        font-weight: 400;
                        color: $color_primary;
                        font-family: $ff_1;
                        font-style: italic;
                        @include media("<=small") {
                            font-size: 20px;
                            line-height: initial;
                        }

                    }

                    &--name {
                        text-transform: uppercase;
                        font-size: 48px;
                        font-family: $ff_2;
                        font-weight: 700;
                        @include media("<=small") {
                            font-size: 32px;

                        }

                    }

                    &--date {
                        font-family: $ff_2;
                        font-weight: 700;
                    }
                }

            }

            &-tags {
                display: flex;
                flex-direction: column;
                text-align: right;
                height: 0;
                position: absolute;
                right: 48px;
                align-items: flex-end;

                @include media("<=small") {
                    //margin-top: 32px;
                    height: fit-content;
                    position: absolute;
                    right: 0;
                }

                .SingleProject-content-header-data-item--name {
                    display: none;
                    @include media("<=small") {
                        display: block;
                        visibility: hidden;
                        opacity: 0;
                        pointer-events: none;
                    }

                }

                &--tag {
                    width: max-content;
                    font-size: 24px;
                    font-weight: 400;
                    color: $color_primary;
                    font-family: $ff_1;
                    font-style: italic;
                    line-height: initial;
                }
            }
        }

        &-info {
            margin-top: 24px;
            position: relative;
            @include media("<=small") {
                margin-top: 20px;
                margin-bottom: 32px;

            }

            &--title {
                max-width: 55vw;
                font-size: 20px;
                font-weight: 600;
                color: $color_primary;
                font-family: $ff_1;
                text-transform: uppercase;
                white-space: pre-line;


                @include media("<=small") {
                    max-width: unset;
                }
            }

            &--description {
                padding-top: 16px;
                max-width: 50vw;
                font-size: 18px;
                font-weight: 400;
                color: $color_primary;
                font-family: $ff_3;
                white-space: pre-line;
                line-height: normal;

                @include media("<=small") {
                    max-width: unset;
                }
            }

            &-link {
                position: absolute;
                bottom: 0;
                right: 48px;
            }
        }
    }

    &-slider {
        padding: 56px 0 16px;
        height: calc(75vh + 56px);
        margin-right: 16px;
        @include media("<=small") {
            padding: 0;
            margin-right: 0;
            height: unset;
        }

        &-container {
            height: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-column-gap: 16px;
            width: fit-content;
            object-fit: contain;
            grid-template-rows: 100%;
            @include media("<=small") {
                grid-auto-flow: row;
                grid-template-columns: 100%;

                grid-row-gap: 8px;
                grid-template-rows: unset;
            }


        }

        &-slide {
            height: 100%;
            width: auto;
            object-fit: contain;

            @include media("<=small") {
                width: 100%;
                height: auto;
                object-fit: cover;

            }

            &:last-child {
                padding-right: 80px;
                @include media("<=small") {
                    padding-right: 0;
                }

            }

            &--img, &--video {

                height: 100%;
                width: auto;
                @include media("<=small") {

                    width: 100%;
                    height: auto;
                }

            }
        }
    }
}