.GalleryPage {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: opacity 300ms 300ms ease;
  opacity: 0;

  &.isPageReady {
    opacity: 1;

  }

  &.isNotPageReady {
    overflow: hidden;
    height: 100vh;
  }
  &-container {
    position: relative;
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    grid-column-gap: 8px;
    transition: scale 300ms linear;
    &-column {
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: 8px;

      &-item {
        &--img,&--video {
          width: 447px;
          height: fit-content;
          object-fit: cover;
          background-color: #fff;

        }
      }
    }
  }
}