@import "../../components/loader";
@import "./landing";
@import "./panels";
@import "../project/projectsPart";
@import "../about/about";
@import "../contact/contact";
@import "../gallery/gallery";


.Home {
  width: 100%;
  height: 100%;
  transition: opacity 300ms ease;
  opacity: 0;

  &.isPageReady {
    opacity: 1;

  }

  &.isNotPageReady {
    overflow: hidden;
    height: 100vh;
  }
}

section {
  width: 100%;
  position: relative;
}

