@import "../../components/homeLoader";
@import "./landing";
@import "./panels";
@import "../project/projectsPart";
@import "../about/about";
@import "../contact/contact";
@import "../gallery/gallery";


.Home {
  width: 100vw;
  height: 100vh;
  transition: opacity 300ms ease;
  //overflow: hidden;
  //opacity: 0;
  position: absolute;

  &.isPageReady {
    opacity: 1;

  }

  &.isNotPageReady {
    overflow: hidden;
    height: 100vh;
  }
}

section {
  width: 100%;
  position: relative;
}

