.Contact {
  &-content {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    padding: 0 202px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-wrapper {
      padding: 21px;
      //width: 100%;
      background-color: $color_primary;

      display: grid;
      grid-auto-flow: row;
      row-gap: 100px;
      position: relative;
      transform: rotateY(calc(var(--mouseRX) * -1)) rotateX(var(--mouseRY));
      box-shadow: var(--shadowPX) var(--shadowPY) 72px rgba(0, 0, 0, 0.32);
    //rgba(0, 0, 0, 0.16)
      &-upper {
        display: flex;
        height: fit-content;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;

        &-texts {
          display: grid;
          grid-auto-flow: row;
          row-gap: 41px;
          height: fit-content;
          padding: 0 0 0 calc(58px - 21px);


          &--item {
            width: fit-content;
            height: fit-content;
            color: $color_secondary;
            text-align: center;
            font-family: $ff_1;
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        &--stamp {
          color: $color_secondary;
          width: 223px;
          aspect-ratio: 223.001/289.48;
        }
      }

      &--email {
        color: $color_secondary;
        text-align: center;
        font-family: $ff_2;
        font-size: 88px;
        font-weight: 700;
        font-style: italic;
        padding: 0 calc(58px - 21px) calc(31px - 21px);
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}