
.Overlay {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  padding: 32px;
  top: 0;
  left: 0;
  transition: 300ms opacity linear, 300ms visibility linear;
  pointer-events: none;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &.Diff {
    .Overlay-wrapper-upper--text,.Overlay-wrapper-lower--text {
      mix-blend-mode: difference;
    color: $color_secondary !important;
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    &-upper, &-lower {
      display: flex;

      &--text {
        font-size: 20px;
        font-weight: 500;
        color: $color_primary;
        font-family: $ff_1;
        text-decoration: none;
        pointer-events: auto;
        //transition: 300ms font-family linear, 300ms font-weight linear;

        &.uppercase {
          text-transform: uppercase;
        }

        &.bold {
          font-weight: 700;
        }

        &.italic {
          font-style: italic;
        }

        &.ff2 {
          font-family: $ff_2;
        }

        &.currentSection {
          font-weight: 700;
          font-style: italic;
          font-family: $ff_2;
        }
      }
    }

    &-upper {
      flex-direction: column;
    }

    &-lower {

      justify-content: space-between;
      align-items: flex-end;

      &-item {
        text-align: right;
      }
    }
  }
  &.Others {
    mix-blend-mode: exclusion;
    .Overlay-wrapper-upper{
      width: fit-content;
    }
  }
}