.Overlay {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  padding: 32px;
  top: 0;
  left: 0;
  transition: 300ms opacity linear, 300ms visibility linear;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    &-upper, &-lower {
      display: flex;

      &--text {
        font-size: 24px;
        font-weight: 600;
        color: $color_primary;
        font-family: $ff_1;
        text-decoration: none;
        transition: 300ms font-family linear, 300ms font-weight linear, 300ms font-style linear;

        &.uppercase {
          text-transform: uppercase;
        }

        &.bold {
          font-weight: 700;
        }

        &.italic {
          font-style: italic;
        }

        &.ff2 {
          font-family: $ff_2;
        }

        &.currentSection {
          font-weight: 700;
          font-style: italic;
          font-family: $ff_2;
        }
      }
    }

    &-upper {
      flex-direction: column;
    }

    &-lower {

      justify-content: space-between;
      align-items: flex-end;

      &-item {
        text-align: right;
      }
    }
  }
}