.partTitle {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: filter 300ms linear;
    &.disable {
        filter: none !important;
        position: absolute !important;
        top: 0 !important;
        transform: none !important;
    }
    &.blur {
        filter: blur(32px);
    }
    &--title {
        text-transform: uppercase;
        color: $color_primary;
        font-family: $ff_2;
        font-weight: bold;
        font-size: 148px;
        letter-spacing: -4px;
        @include media("<=extra-large") {
            font-size: 96px;

        }

        @include media("<=medium") {
            font-size: 48px;

        }
        font-style: italic;
        width: fit-content;

    }
}