.partTitle {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &.disable {
        filter: none !important;
        position: absolute !important;
        top: 0 !important;
        transform: none !important;
    }
    &--title {
        text-transform: uppercase;
        color: $color_primary;
        font-family: $ff_2;
        font-weight: bold;
        font-size: 148px;
        font-style: italic;
        width: fit-content;

    }
}