.Projects {

  &-list {
    display: grid;
    grid-template-columns: 100% 1fr 100%;
    grid-column-gap: 46px;
    grid-row-gap: 12px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    &--separator {
      height: 100%;
      width: 2px;
      background-color: $color_primary;
    }

    &-project {
      width: 100%;

      &--title {
        color: $color_primary;
        font-size: 40px;
        font-family: $ff_1;
        font-weight: 500;
      }
    }

  }

  &-promote {
    width: 100%;
    padding: 0 202px;
    display: grid;
    grid-auto-flow: row;
    height: calc(var(--PromotedProjectLength) * 100vh);
    align-content: space-around;

    &-card {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 100%;
      aspect-ratio: 1324/554;
      cursor: pointer;

      :hover > &--img {
        transform: scale(1.1);
      }

      &--img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1000ms ease-out;
      }

      &-content {
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        text-align: center;
        z-index: 10;


        &--date, &--type {
          color: $color_primary;
          font-size: 24px;
          font-style: italic;
        }

        &--date {
          font-family: $ff_2;
          font-weight: 700;
        }

        &--title {
          text-transform: uppercase;
          color: $color_secondary;

          font-size: 148px;
          font-family: $ff_1;
          font-weight: 500;
        }

        &--type {
          font-family: $ff_1;
          font-weight: 450;

        }
      }

    }
  }

}